---
name: Lint powerdns chart

on:
  pull_request:
    paths:
    - "powerdns/**"
  push:
    branches:
    - main
    paths:
    - "powerdns/**"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    # https://github.com/Azure/setup-helm
    - name: Set up Helm
      uses: azure/setup-helm@v4.3.1
      with:
        version: "latest"

    - name: Install yamlfmt
      # TODO renovate yamlfmt. It must be updated together with version in pre-commit
      run: |
        go install github.com/google/yamlfmt/cmd/yamlfmt@v0.21.0
        echo "$(go env GOPATH)/bin" >> "$GITHUB_PATH"
        export PATH="$(go env GOPATH)/bin:$PATH"
        yamlfmt -version

    - name: Lint powerdns chart
      run: |
        helm dependency update powerdns
        helm lint powerdns -f powerdns/config_linting.yaml
        helm template powerdns -f powerdns/config_linting.yaml --output-dir /tmp/powerdns-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/powerdns-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/powerdns-linting-output
